@font-face {
  font-family: "ITC Century";
  src:
    url("/fonts/itc_century_light-webfont.woff2") format("woff2"),
    url("/fonts/itc_century_light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "avenir";
  src:
    url("/fonts/avenir-200-webfont.woff2") format("woff2"),
    url("/fonts/avenir-200-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "avenir";
  src:
    url("/fonts/avenir-300-webfont.woff2") format("woff2"),
    url("/fonts/avenir-300-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "avenir";
  src:
    url("/fonts/avenir-400-webfont.woff2") format("woff2"),
    url("/fonts/avenir-400-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "avenir";
  src:
    url("/fonts/avenir-500-webfont.woff2") format("woff2"),
    url("/fonts/avenir-500-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "avenir";
  src:
    url("/fonts/avenir-700-webfont.woff2") format("woff2"),
    url("/fonts/avenir-700-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
