@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$grid-breakpoints: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 992px,
  xl: 1024px,
  xxl: 1440px,
  xxxl: 1600px,
);

@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";

@mixin slice-title {
  color: $dark-grey;
  font-family: $primary-font;
  font-size: 3rem;
  font-weight: 400;
}
