$primary-font: "ITC Century", sans-serif;
$secondary-font: "avenir", sans-serif;

$dark-grey: rgba(108, 101, 104, 1);
$light-grey: rgba(177, 171, 173, 1);
$orange: rgba(236, 106, 6, 1);
$white: #fff;
$black: rgba(29, 29, 27, 1);
$red: #eb2426;
$dark-blue: #0d287f;
$brown-grey: #43332f;
